body {
  box-sizing: border-box;
}
.slide-section {
  width: calc(100% - 24px);
  height: calc(100vh - 24px);
  border: 3px solid black;
  margin: 12px;
}

.circle{
  border-radius: 100%;
  background-color: rgb(246, 194, 67);
  display: inline-block;
  position: absolute;
  animation-name: circle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes circle {
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

.big{
  width: 115px;
  height: 115px;
  bottom: -20px;
  right: -50px;
  z-index: -1;
}

.small{
  width: 44px;
  height: 44px;
  top: -10px;
  left: -20px;
  z-index: -1;
}

#slide-title {
  width: 150px;
  height: 160px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Impact
}

#slide-title p{
  margin: 0px;
  font-size: 70px;
}