---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}/about">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}/about">
                        	<p style="font-size:1.2rem;font-weight:300">서윤호</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">프론트엔드 개발자, 서버 개발자</p>
			            </a>
                    </h3>
                    <h3 class="title" style="font-size: 30px;">
                        <a class="social-btn" href="https://twitter.com/yunho101775" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-fw fa-twitter-square">
                                <!--::before-->
                            </i>
                        </a>
                        <a class="social-btn" href="https://www.facebook.com/profile.php?id=100004542254299" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-fw fa-facebook-square">
                                <!--::before-->
                            </i>
                        </a>
                        <a class="social-btn" href="https://www.instagram.com/yunho3847" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-fw fa-instagram">
                                <!--::before-->
                            </i>
                        </a>
                        <a class="social-btn" href="https://github.com/SeoYunHo" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-fw fa-github">
                                <!--::before-->
                            </i>
                        </a>
                    </h3>
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Posts
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
